@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-color1: #1091EF;
  --color-on-color1: #FFFFFF;
  --color-color1-dark: #0363AA;
  --color-color2: #FF7F22;
  --color-on-color2: #FFFFFF;
  --color-color2-dark: #D8630E;
  --color-color-content-base: #222222;
  --color-color-content-body: #545559;
  --color-color-content-secondary: #B4B5BB;
  --color-background-dark: #0A2540;

  --font-sans: 'Poppins', sans-serif;
  --font-weight-semibold: 400;
  --font-weight-bold: 600;
}
